body {
  background-color: rgb(27, 27, 27);
  color: #fff;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #068399;
  border: none;
  min-width: 200px;
  margin: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color: #00687a;
  transition: all .2s;
}

.container {
  display: block;
  margin: 300px auto;
  width: 700px;
}